services:
  - type: web
    name: multiprotocol-backend
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    plan: free

    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: ALGORITHM
        value: HS256
      - key: EMAIL_PASSWORD
        sync: false
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "60"
      - key: ALLOWED_ORIGINS
        sync: false
      - key: PYTHON_VERSION
        value: "3.11.0"
